<table>
  <tr>
    <td style="width:70%">
    </td>
    <td align="center">
      <label for="pdf{{randomid}}" class="uploadBtn33Label">
        <mat-icon>{{tekst}}</mat-icon>
      </label>
      <div> {{undertekst}}</div>
      <input type="file" (change)="onFileChange1($event)" id="pdf{{randomid}}" style="display: none" accept=".pdf" />
    </td>
    <td (click)="slett()" *ngIf="objekt.image_id" align="center" style="padding: 0 20px">
      <label class="uploadBtn33Label">
        <mat-icon>delete</mat-icon>
      </label>
      <div>Slett</div>
    </td>
  </tr>
</table>


<img src="./assets/img/KTQImage.jpg" style="height:150px; padding:15vw" *ngIf="!objekt.image_id">

<object [attr.data]="imagePdf" type="application/pdf" style="width:100%; height:800px" *ngIf="objekt.image_id">
  <a [attr.href]="imagePdf">test.pdf</a>
</object>

